<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
<link href="https://fonts.googleapis.com/css?family=Spectral+SC|Strait" rel="stylesheet">
<script src="https://js-agent.newrelic.com/nr-1099.min.js"></script>
<script async src="https://www.google-analytics.com/analytics.js"></script>

  
  <title>Titanic Home</title> 
</head>

<body>
<nav th:replace="layouts/nav :: navFragment">
</nav>

<div class="jumbotron text-centre">

<h1>Titanic</h1>
<h2></h2>
<br />

</div>


<div class="container">
<p>Titanic Passengers</p>

<form action="/searchid" method="get">
	<label>ID</label>
	<input  type="text" name="id" placeholder="Enter id"></input>
	<input type="submit" value="Search"></input>
</form>

<form action="/searchname" method="post">
	<label>Name</label>
	<input  type="text" name="name" placeholder="Enter name"></input>
	<input type="submit" value="Search"></input>
</form>

<form action="/searchsex" method="get">
	<label>Sex</label>
	<input  type="text" name="sex" placeholder="Enter gender"></input>
	<input type="submit" value="Search"></input>
</form>

</div>
</body>
</html>