<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
<link href="https://fonts.googleapis.com/css?family=Spectral+SC|Strait" rel="stylesheet">
<script src="https://js-agent.newrelic.com/nr-1099.min.js"></script>
<script async src="https://www.google-analytics.com/analytics.js"></script>
  
  <title th:text="${pageTitle}">Dwarf Home</title> 
</head>
<body>
<nav th:replace="layouts/nav :: navFragment">
</nav>

<div class="jumbotron text-centre">

<h1 th:text="${pageTitle} + ' ' + Dwarfs">Disney Dwarfs</h1>
<p>Meets the 7 dwarfs that followed Snow White</p>

</div>

<div class="container">
<p th:text="${pageTitle} + ' ' + Dwarfs">Disney Dwarfs</p>

	<table class="table table-striped">
	<thead>
		<th>Name</th>
		<th>Author</th>
		<th>Image</th>
	</thead>
	<tbody>
		<tr th:each="dwarf: ${dwarfs}">
			<td th:text="${dwarf.name}">Happy</td>
			<td th:text="${dwarf.author}">Disney</td>
			<td><img src="../static/images/Happy.png" th:src="@{/images/}+${dwarf.image}"></img></td>
		</tr>
	</tbody>
	</table>
</div>

</body>
</html>