<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/styles.css">
<link href="https://fonts.googleapis.com/css?family=Spectral+SC|Strait" rel="stylesheet">
<script src="https://js-agent.newrelic.com/nr-1099.min.js"></script>
<script async src="https://www.google-analytics.com/analytics.js"></script>

  
  <title>Weather Home</title> 
</head>

<body>
<nav th:replace="layouts/nav :: navFragment">
</nav>

<div class="jumbotron" style="background-image: url(http://www.californiafootgolfclub.com/static/img/footgolf-1.jpg); background-size: 100%;">
   <div class="container for-about">
	<h1 class="display-4" th:text="Weather">Weather</h1>
   <p class="lead">This website is dedicated to the information of the Weather.</p>
   </div>
</div>


<div class="container">

<form action="/searchcity" method="get">
	<label>City</label>
	<input type="text" name="city" placeholder="Enter City"></input>
	<input type="submit" value="Search"></input>
</form>

<form action="/searchweather" method="get">
	<label>Weather</label>
	<input type="text" name="weather" placeholder="Enter weather"></input>
	<input type="submit" value="Search"></input>
</form>



</div>
</body>
</html>